<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
<h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]'s users list</h1>
<div th:switch="${users}">
    <h2 th:case="null">Users list is empty</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <form th:action="@{users/update/{id}(id=${user.id})}" method="get">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form th:action="@{delete/{id}(id=${user.id})}" th:method="delete">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        <form th:action="@{users/create}" method="get">
            <input type="submit" value="Create user">
        </form>
    </p>
</div>
</body>
</html>

